<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- create-drop tenta apagar os schemas antes de criá-los e loga um aviso por schema -->
    <logger name="org.hibernate.tool.schema" level="ERROR"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
